.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
}

.nav-link {
  float: right;
}


.text-muted {
  color: gray
}

form {
  padding: 20px;
  background-color: aquamarine;
}


h3 {
  text-align: center;
  padding: 20px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #e3e3e6;
  color: white;
  text-align: center;
}