.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
}

.nav-link {
  float: right;
}

h1 {
  text-align: center;
}

.text-muted {
  color: gray
}

form {
  padding: 20px;
  background-color: aquamarine;
}


h3 {
  text-align: center;
  padding: 20px;
}